<div class="row">

    <!-- FX Streamer -->
    <div class="col-md-4 col-sm-6">
        <a routerLink="stockmarketprices">
            <div class="portfolio-item">
                <div class="portfolio-item-preview">
                    <img src="assets/images/portfolio/stockmarketprices.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                    <h3>Stock Market Prices</h3>
                    <p>Web Development: Angular 4.0, D3 and RxJS</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Star Wars -->
    <div class="col-md-4 col-sm-6">
        <a routerLink="starwars">
            <div class="portfolio-item">
                <div class="portfolio-item-preview">
                    <img src="assets/images/portfolio/starwars.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                    <h3>Star Wars Scrolling Text</h3>
                    <p>Web Development: HTML5, D3.JS and CSS3</p>
                </div>
            </div>
        </a>
    </div>

    <!-- World Cup Tournament Wheel -->
    <div class="col-md-4 col-sm-6">
        <a routerLink="tournamentwheel">
            <div class="portfolio-item">
                <div class="portfolio-item-preview">
                    <img src="assets/images/portfolio/tournamentwheel.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                    <h3>World Cup Tournament Wheel</h3>
                    <p>Web Development: HTML5 Canvas</p>
                </div>
            </div>
        </a>
    </div>

</div> 

<div class="row">


    <!-- Gilt Search -->
    <div class="col-md-4 col-sm-6">
        <a routerLink="bondsearch">
            <div class="portfolio-item">
                <div class="portfolio-item-preview">
                    <img src="assets/images/portfolio/bondsearch.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                    <h3>UK Bond Search</h3>
                    <p>Web Development: Angular 4.0 Components</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Conveyor Belt Controller -->
    <div class="col-md-4 col-sm-6">
        <a routerLink="desktop">
            <div class="portfolio-item">
                <div class="portfolio-item-preview">
                    <img src="assets/images/portfolio/desktop.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                    <h3>Conveyor Belt Controller</h3>
                    <p>Desktop: WPF and Entity Framework</p>
                </div>
            </div>
        </a>
    </div>

    
    <!-- <div class="col-md-4 col-sm-6">
        <a routerLink="creditrisk">
            <div class="portfolio-item">
                <div class="portfolio-item-preview">
                    <img src="assets/images/portfolio/website.jpg" alt="">
                </div>
                <div class="portfolio-item-description">
                    <h3>Credit Risk</h3>
                    <p>Web Development: D3 Maps</p>
                </div>
            </div>
        </a>
    </div> -->

</div>