<div class="container">
    <div class="starter-template">
        <h3>Credit Risk</h3>
        <ul>
            <li>Country Risk Exposure using D3 Maps</li>
        </ul>
        <button type="button" class="btn btn-xs btn-default" (click)="navigateToPreviousPortfolioItem()">
            <i class="fa fa-arrow-circle-left"></i>&nbsp;Go to Desktop sample
        </button>
        <button type="button" class="btn btn-xs btn-default" (click)="navigateToPortfolioList()">
            <i class="fa fa-list-alt"></i>&nbsp;Portfolio List
        </button>
        <button type="button" class="btn btn-xs btn-default" (click)="navigateToNextPortfolioItem()">
           Go to Stock Market sample&nbsp;<i class="fa fa-arrow-circle-right"></i>
        </button>
    </div>
    <br/>
   

    <div>Sample will go here</div>
</div>