<div class="container">
    <div class="starter-template">
        <h3>Conveyor Belt Controller (Desktop Application)</h3>
        <ul>
            <li>Screen shot of the Conveyor Belt Controller - used by shipping companies.</li>
            <li>Developed using WPF, SQL Server, Windows Sockets and Entity Framework</li>
        </ul>
        <button type="button" class="btn btn-xs btn-default" (click)="navigateToPreviousPortfolioItem()">
            <i class="fa fa-arrow-circle-left"></i>&nbsp;Go to Bond Search sample
        </button>
        <button type="button" class="btn btn-xs btn-default" (click)="navigateToPortfolioList()">
            <i class="fa fa-list-alt"></i>&nbsp;Portfolio List
        </button>
        <button type="button" class="btn btn-xs btn-default" (click)="navigateToNextPortfolioItem()">
           Go to Stock Market sample&nbsp;<i class="fa fa-arrow-circle-right"></i>
        </button>
    </div>
    <br/>
    <img class="img-responsive" src="assets/images/portfolio/desktop.jpg" />
</div>