<div class="container">
    <div class="starter-template">
        <h3>CoinMarkit.com (LIVE! Web Application)</h3>
        <ul>
            <li><a href="https://www.coinmarkit.com" target="_blank"><b><span style="color:blue">Go to live site</span></b></a> which is hosted on Azure</li>
            <li>Screen shot of CoinMarkit.com - crypto currency pricing engine</li>
            <li>Developed using ASP.NET Core, SQL Server, Entity Framework, Dapper</li>
            <li>Front end developed using Bootstrap, java script, jQuery, D3</li>
        </ul>
        <button type="button" class="btn btn-xs btn-default" (click)="navigateToPreviousPortfolioItem()">
            <i class="fa fa-arrow-circle-left"></i>&nbsp;Go to Tournament sample
        </button>
        <button type="button" class="btn btn-xs btn-default" (click)="navigateToPortfolioList()">
            <i class="fa fa-list-alt"></i>&nbsp;Portfolio List
        </button>
        <button type="button" class="btn btn-xs btn-default" (click)="navigateToNextPortfolioItem()">
            Go to Bond Search sample&nbsp;<i class="fa fa-arrow-circle-right"></i>
        </button>
    </div>
    <br/>
    <img class="img-responsive" src="assets/images/portfolio/coinmarkitscreens.png" />
</div>