<div class="wrapper">



  <!-- Scroll-up -->
  <div class="scroll-up">
    <a href="#intro"><i class="fa fa-angle-up"></i></a>
  </div>

  <!-- Navigation  -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
        <a class="navbar-brand" href="#intro">Cloud Coder</a>
      </div>
      <div class="collapse navbar-collapse" id="custom-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#intro">Home</a></li>
          <li><a href="#about-header">About</a></li>
          <li><a href="#services-header">Services</a></li>
          <li><a href="#portfolio-header">Portfolio</a></li>
          <li><a href="#technologies-header">Technologies</a></li>
          <li><a href="#contact-header">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navigation end -->

  <!-- Intro section start -->
  <section id="intro" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hello">
            <h4>Welcome to Liam Grossmann's Cloud Coder</h4>
            <h1 class="hidden-xs">Harnessing the cloud for your business</h1>
            <h3><span class="rotate">Application Development | Application Architecture | Web Development | Database Development | AWS and Azure</span></h3>
          </div>
          <a href="#about-header">
            <div class="mouse-icon">
              <div class="wheel"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Intro section end -->


  <!-- About section start -->
  <section id="about-header" class="section-header">
    <div class="color-overlay">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>About Liam Grossmann</h2>
            <p>Passionate about technology.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3>About Me</h3>
          <p>My name is Liam Grossmann. I'm a programmer and consultant who offers application and web development services.
            I've spent 25 years designing and implementing business solutions - primarily for the financial industry. My 
            favourite design principle? <b>pragmatism over idealism</b>.
          </p>
          <p>I was amazed and excited by the advancements made in web technology over the past decade. The release of new
            technologies such as HTML5, Web API, Type Script, and AngularJS coupled with the release of cloud based platforms
            such as Amazon Web Services and Microsoft Azure forced me to take stock. As a result of these advancements, I incorporated 
            Cloud Coder Ltd in 2011.</p>
          <p>Desktop applications have served businesses well for the past 20 years. It is now time to build the mobile business
            internet.
          </p>
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled iconList">
                <li><i class="fa fa-arrow-circle-right"></i>&nbsp;No barriers</li>
                <li><i class="fa fa-arrow-circle-right"></i>&nbsp;No stop signs</li>
                <li><i class="fa fa-arrow-circle-right"></i>&nbsp;No speed limits</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p>&nbsp;</p>
          <img src="assets/images/photo.jpg" alt="">
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <!-- About section end -->


  <!-- Services section start -->
  <section id="services-header" class="section-header">
    <div class="color-overlay">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>Services</h2>
            <p>Deployment to Cloud using AWS or Azure</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="service">
            <div class="icon">
              <i class="fa fa-pencil"></i>
            </div>
            <h4>Application Architecture</h4>
            <div class="text">
              <p>Document your business processes and create current and target operating models. Provide blue prints for integrating
                disparate systems into a cohesive strategic architecture.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="service">
            <div class="icon">
              <i class="fa fa-bank"></i>
            </div>
            <h4>Finance IT</h4>
            <div class="text">
              <p>Over ten years working in the financial services sector for leading companies including Bank of America Merrill
                Lynch, Barclays Capital, Credit Suisse, HM Treasury and Lloyds TSB.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="service">
            <div class="icon">
              <i class="fa fa-cog"></i>
            </div>
            <h4>Server Side Development</h4>
            <div class="text">
              <p>Server side development including data repositories and caching. Build complex financial risk engines including
                risk models and pricing models. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="service">
            <div class="icon">
              <i class="fa fa-code"></i>
            </div>
            <h4>Coding Expertise</h4>
            <div class="text">
              <p>Application development using C#, Type Script, Java Script, HTML5, and CSS3. Software built using SOLID
                design principles. Unit testing, continuous build and integration.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="service">
            <div class="icon">
              <i class="fa fa-desktop"></i>
            </div>
            <h4>Front End Development</h4>
            <div class="text">
              <p>Web Development using ASP.NET MVC, Type Script, Java Script, HTML5, CSS3, AngularJS, Bootstrap and jQuery.
                Front end build tools - NodeJS, NPM, Webpack, AngularCli.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="service">
            <div class="icon">
              <i class="fa fa-database"></i>
            </div>
            <h4>Database Development</h4>
            <div class="text">
              <p>Database development using SQL Server (T-SQL, SSIS, and SSRS). Entity Framework expertise. Data warehouses
                and star schemas. No SQL using MongoDB.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services section end -->


  <!-- Portfolio section start -->
  <section id="portfolio-header" class="section-header">
    <div class="color-overlay">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>Portfolio</h2>
            <p>Some sample applications that I have built</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio -->
  <section id="portfolio" class="sectionWithSmallMargin">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </section>


  <!-- Technologies -->
  <technologies></technologies>
 


  <!-- Contact section start -->
  <section id="contact-header" class="section-header">
    <div class="color-overlay">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>Contact Me</h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact-data" class="callout-light">
    <div class="container">
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-sm-4">
          <div class="service">
            <div class="icon">
              <i class="fa fa-envelope-o"></i>
            </div>
            <h4>Mail</h4>
            <div class="text">
              <address>
                <a href="mailto:liam@cloudcoder.co.uk">liam@cloudcoder.co.uk</a><br/>
              </address>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="service">
            <div class="icon">
              <i class="fa fa-phone"></i>
            </div>
            <h4>Phone</h4>
            <div class="text">
              <address>
                <abbr title="Phone">P:</abbr> 079 001 006 02<br/>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact section end -->


  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="copy">&copy; 2015-2017 Cloud Coder Ltd. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

</div>
<!-- .wrapper -->

<!-- Javascript files. Attempt to load from CDN for speed. -->
<!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->


<!--<script type="text/javascript" src="assets/js/jquery-1.11.0.min.js"></script>-->
<!--<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="bundle.js"></script>

<!--	<script type="text/javascript" src="assets/js/jquery.backstretch.js"></script> -->
<!--<script type="text/javascript" src="assets/js/jquery.simple-text-rotator.js"></script>-->
<!--<script type="text/javascript" src="assets/js/smoothscroll.js"></script>-->
<!--<script type="text/javascript" src="assets/js/custom.js"></script>-->