<div>
<div class="row reactivetrader">

	<div class="col-md-4 stackpanel">

		<div class="row stackpanelheader grey-text">&nbsp;NASDAQ Market</div>

		<div class="row grey-text text-center stackpanellabels">
			<div class="col-md-3">SYMBOL</div>
			<div class="col-md-3">LATEST</div>
			<div class="col-md-3">CHANGE</div>
			<div class="col-md-3">CHG %</div>
		</div>


		<div class="stackpanelbuttons">

			<div class="row text-center stackpanelbutton" *ngFor="let ticker of watchList" (click)="toggleSelection(ticker)">
					<div class="col-md-3 white-text">{{ticker.id}}</div>
					<div class="col-md-3 blue-text">{{ticker.last | number:'1.2-2'}}</div>
					<div *ngIf="ticker.change < 0">
						<div class="col-md-3 red-text">{{ticker.change | number:'1.2-2'}}</div>
						<div class="col-md-3 red-text">{{ticker.changePercent | number:'1.2-2'}}</div>
					</div>
					<div *ngIf="ticker.change >= 0">
							<div class="col-md-3 green-text">{{ticker.change | number:'1.2-2'}}</div>
							<div class="col-md-3 green-text">{{ticker.changePercent | number:'1.2-2'}}</div>
					</div>
			</div>
		</div>
	</div>



	<div class="col-md-8">
		<div class="row">
			<ticker-details [ticker]="selectedTicker"></ticker-details>
		</div>
		<div class="row">
			<ticker-chart [ticker]="selectedTicker"></ticker-chart>
		</div>
	</div>

</div>


<br>



<div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="col-md-2 text-center">Action</th>
				<th class="col-md-1">Ticker</th>
				<th class="col-md-2">Equity Name</th>
				<th class="col-md-1 text-center">Close</th>
				<th class="col-md-1 text-center">Bid</th>
				<th class="col-md-1 text-center">Ask</th>
				<th class="col-md-1 text-center">Last</th>
				<th class="col-md-1 text-center">Change</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let ticker of watchList">
				<td class="text-center">
					<button type="button" style="width:140px" class="btn btn-xs btn-default" (click)="toggleSubscribe(ticker)">{{ ticker.isSubscribing ? 'Unsubscribe' : 'Subscribe' }} </button>
				</td>
				<td>{{ticker.id}}</td>
				<td>{{ticker.name}}</td>
				<td class="text-right">{{ticker.close | number:'1.2-2'}}</td>
				<td class="text-right">{{ticker.bid | number:'1.2-2'}}</td>
				<td class="text-right">{{ticker.ask | number:'1.2-2'}}</td>
				<td class="text-right">{{ticker.last | number:'1.2-2'}}</td>
				<td class="text-center">
					<ticker-price-direction [priceDirection]="ticker.priceDirection"></ticker-price-direction>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>